## 문제1. Hello, Python! 을 출력한다.

In [1]:
print('Hello, Python!')

Hello, Python!

## 문제2. 반지름 r = 10인 원의 넓이를 구하시오.
input() 함수를 이용해 반지름 r을 입력받아 계산해서 출력할 것. (pi = 3.14)

In [3]:
r = int(input())
pi= float(3.14)
a = r*r*pi
a

5

78.5

## 문제3. 변수 a와 변수 b의 값을 서로 바꾸시오.
아래 ... 부분을 채워서 결과를 낼 것.
a = 'AAA' 
b = 'BBB'
...
print('a=', a, 'b=', b)

In [11]:
a = 'AAA'
b = 'BBB'

c = "BBB"
d = "AAA"

a = c
b = d

print('a=', a,'b=', b)

a= BBB b= AAA

## 문제4. 리스트 생성과 조작
문제 3-1) 'apple', 'banana', 'cat', 'dog' 로 구성된 리스트 list1를 만들고 출력하시오.

문제 3-2) 위 리스트에 'elephant'를 추가한 뒤 출력하시오.

문제 3-3) 리스트에 있는 원소의 갯수를 구해서 출력하시오.

문제 3-4) 리스트 맨 마지막의 원소를 출력하시오.

In [20]:
# 문제3-1)
list1 = ['apple', 'banana', 'cat', 'dog']
list1

['apple', 'banana', 'cat', 'dog']

In [23]:
# 문제3-2)
list1 = ['apple', 'banana', 'cat', 'dog']
list1.append('elephant')
list1

['apple', 'banana', 'cat', 'dog', 'elephant']

In [29]:
# 문제3-3)
len(list1)

5

In [36]:
# 문제3-4)
list1[-1]

'elephant'

## 문제5. while문의 활용
factorial값 N! = 1 * 2 * 3 * ... * (N-1) * N 로 정의된다.
N! 가 최초로 1000을 초과하게 되는 N과 N!값을 구해서 출력하시오.

In [55]:
def factorial(n):
    num = 1
    while n >= 1:
        num = num * n
        n = n - 1
    return num

for i in range(8):
    a = factorial(i)
    print(a)
    
print ("N = 7",",","N! = factorial(7)")

1
1
2
6
24
120
720
5040
N = 7 , N! = factorial(7)

## 문제6. for 문의 활용
1~30 까지의 숫자 중 2, 3, 5의 배수만 빼고 출력하시오.

In [109]:
list = []
for i in range(1,31):
    list.append(i)

for n in range(1, 31):
    if n % 2 == 0 or n % 3 == 0 or n % 5 == 0:
        list.remove(n)
list

[1, 7, 11, 13, 17, 19, 23, 29]

## 문제7. 주민등록번호를 입력받아, 성별과 출생년도를 추출하시오.
input() 함수를 이용해 주민등록번호를 XXXXXX-XXXXXXX 형식으로 입력받을 것. 

문제 7-1) 주민등록번호에서 성별정보를 추출해 변수 gender = '남성' 또는 '여성'으로 저장하고, 출력하시오.

문제 7-2) 주민등록번호에서 출생년도를 계산해 변수 year 에 네자리수 값(OOOO)으로 저장하시오. (출생년도는 1901년~2020년 사이이다)

In [1]:
#문제 7-1)
id_num = str(input("주민등록번호를 입력하세요 (OOOOOO-XXXXXXX):"))

class person ():
    def __init__(self, gender):
        self.gender = gender
        

if id_num[7] == '1' or id_num[7] == '3': 
    heejeong = person('남성')
else :
    heejeong = person('여성')
heejeong.gender

주민등록번호를 입력하세요 (OOOOOO-XXXXXXX):000000-2111111

'여성'

In [157]:
#문제 7-2)
id_num = str(input("주민등록번호를 입력하세요 (OOOOOO-XXXXXXX):"))

class person ():
    def __init__(self, year):
        self.year = year

if id_num[7] == '1' or id_num[7] == '2' :
    heejeong.year = str(19)+id_num[:2]
else : 
    heejeong.year = str(20)+id_num[:2]

heejeong.year

주민등록번호를 입력하세요 (OOOOOO-XXXXXXX):101234-3123547

'2010'

## 문제8. 2~1000 사이의 소수 찾기
2~1000 범위에서 소수의 목록(또는 갯수)을 구하시오.

In [162]:
for i in range(2,1001):
    a = True
    for j in range(2,i):
        if i%j==0:
            a = False
            break
    if a : 
        print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997