# 3장 파이썬을 이용한 데이터 분석

## 3.2 파이썬을 이용한 기술통계: 다변량 데이터

### 다변량 데이터 관리하기

In [1]:
# 수치 계산에 이용하는 라이브러리
import pandas as pd
import scipy as sp
import numpy as np

# 자릿수 지정
%precision 3

'%.3f'

### 그룹별 통계량 계산하기

In [3]:
fish_multi = pd.read_csv("3-2-1-fish_multi.csv")
fish_multi

  species  length
0       A       2
1       A       3
2       A       4
3       B       6
4       B       8
5       B      10

In [4]:
# 생선 종류별 집계
group = fish_multi.groupby("species")
print(group.mean())

         length
species
A             3
B             8

In [6]:
print(group.std(ddof = 1)) #std : 표준편차, var : 분산

         length
species
A           1.0
B           2.0

In [9]:
group.std(ddof=1) #print 함수 안쓰면 이렇게 나옴

         length
species
A           1.0
B           2.0

In [10]:
group.describe()

        length
         count mean  std  min  25%  50%  75%   max
species
A          3.0  3.0  1.0  2.0  2.5  3.0  3.5   4.0
B          3.0  8.0  2.0  6.0  7.0  8.0  9.0  10.0

In [11]:
fish_multi.describe()

          length
count   6.000000
mean    5.500000
std     3.082207
min     2.000000
25%     3.250000
50%     5.000000
75%     7.500000
max    10.000000

### 공분산

In [12]:
cov_data = pd.read_csv("3-2-3-cov.csv")
print(cov_data)

      x   y
0  18.5  34
1  18.7  39
2  19.1  41
3  19.7  38
4  21.5  45
5  21.7  41
6  21.8  52
7  22.0  44
8  23.4  44
9  23.8  49

In [15]:
# 데이터 분리
x = cov_data["x"]
y = cov_data["y"]
print(x)

# 표본 크기
N = len(cov_data)
print(N)

# 평균값 계산
mu_x = np.mean(x)
mu_y = np.mean(y)
print(mu_x, mu_y)

0    18.5
1    18.7
2    19.1
3    19.7
4    21.5
5    21.7
6    21.8
7    22.0
8    23.4
9    23.8
Name: x, dtype: float64
10
21.020000000000003 42.7

In [17]:
# 표본 공분산
cov_sample = sum((x - mu_x) * (y - mu_y)) / N
cov_sample

6.906

### 분산-공분산 행렬

In [16]:
np.cov(x, y, ddof = 0)

array([[ 3.282,  6.906],
       [ 6.906, 25.21 ]])

### 피어슨 상관계수

In [18]:
# 분산 계산
sigma_2_x_sample = np.var(x, ddof = 0)
sigma_2_y_sample = np.var(y, ddof = 0)

# 상관계수
cov_sample / np.sqrt(sigma_2_x_sample * sigma_2_y_sample)

0.7592719041137087

In [19]:
# 상관 행렬
np.corrcoef(x, y)

array([[1.   , 0.759],
       [0.759, 1.   ]])